<div 
  class="entity-small animated {{ hit_point_color() }}" 
  style="background-size: {{ entity.cur_hit_points / entity.max_hit_points * 100}}% 100% !important"
>
  {{ entity.name }}

  <div class="hp-overlay">
    {{ entity.cur_hit_points }} / {{ entity.max_hit_points }}
  </div>

  <div class="dropdown actions">

    <a 
      class="dropdown-toggle" 
      data-toggle="dropdown" 
      id="dActions" 
      href="#"
    >
      <i class="fa fa-chevron-down"></i>
    </a>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dActions">

      <li>
        <a href="#" ng-click="$root.edit_entity($event, entity)">
          <i class="fa fa-fw fa-pencil"></i> Edit
        </a>
      </li>

      <li>
        <a href="#" ng-click="$root.copy_entity($event, group_index, entity)">
          <i class="fa fa-fw fa-files-o"></i> Copy
        </a>
      </li>

      <li>
        <a href="#" ng-click="$root.remove_entity($event, group_index, $index, entity)">
          <i class="fa fa-fw fa-trash-o"></i> Delete
        </a>
      </li>

      <li class="dropdown-submenu">

        <a tabindex="-1" href="#">
          <i class="fa fa-fw fa-exclamation"></i> Checks...
        </a>

        <ul class="dropdown-menu">
          <li ng-repeat="ct in $root.check_types">
            <a href="#" ng-click="$root.roll_check({type: ct, entities: [entity]})">{{ ct.toTitleCase() }}</a>
          </li>
        </ul>

      </li>

    </ul>

  </div>
</div>
