<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" >
<link rel="stylesheet" href="external/animate.min.css" />
<link rel="stylesheet" href="core.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="external/FileSaver.js"></script>
<script src="external/sortable.js"></script>
<script src="core.js"></script>
</head>
<body ng-controller="MainController" ng-class="{ crosshair: attacker }">
  <!-- 
  HEADER 
  -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="pull-right">
        <select name="ruleset" ng-model="ruleset" style="margin:5px 10px 0 0">
          <option value="d&d">Dungeons &amp; Dragons</option>
          <option value="got">Game of Thrones</option>
        </select>
      </div>
      <ul class="nav">
        <li><a href="#" ng-click="save()"><i class="fa fa-download"></i> Save</a>
        <li><a href="#" ng-click="load()"><i class="fa fa-folder-open"></i> Load</a>
      </ul>
      <div class="hide">
        <input type="file" id="load_file" />
      </div>
    </div>
  </div>
  <!-- 
  ==============================
  ATTACK MODAL 
  ==============================
  &#10518; - Arrow
  &#9876; - Swords
  -->

  <div class="modal hide fade" id="attack_modal">
    
    <div class="modal-header">
      <button 
        type="button" 
        class="close" 
        data-dismiss="modal" 
        aria-hidden="true">
      &times;
      </button>
      <h3>{{ attacker.name }} vs. {{ defender.name }}</h3>
    </div>

    <form ng-submit="do_attack()">
    <div class="modal-body">
      <select 
        ng-model="attacker.chosen_weapon"
        ng-options="weapon.name for weapon in attacker.weapons">
      </select>
      <p>All this information is optional</p>
        <label>Roll</label>
        <input 
          name="custom_roll"
          type="number" 
          class="input-small" 
          ng-model="attack_options.roll">
        </input>
        <label>Temp attack modifier</label>
        <input 
          type="number" 
          class="input-small" 
          ng-model="attack_options.hit_modifier">
        </input>
        <!--
        <label>Temp damage modifier</label>
        -->
    </div>

    <div class="modal-footer">
      <a href="#" data-dismiss="modal" class="btn" ng-click="clear_attack()">Cancel</a>
      <input type="submit" class="btn btn-primary" value="Attack!"/>
    </div>
    </form>
  </div>

  <!-- 
  ==============================
  ENTITY MODAL 
  ==============================
  -->
  <ddentity entity="editee" ng-if="ruleset == 'd&d'"></ddentity>

  <!--
  BODY
  -->
  <div id="main_content">

    <div class="column" ng-repeat="group in entities" style="width: {{ 100 / (entities.length + 1) }}%" ng-init="group_index = $index">
      <h4>
        {{ group.name }}
      
        <!--
        GROUP ACTIONS
        -->
        <div class="dropdown">

          <a 
            class="dropdown-toggle" 
            data-toggle="dropdown" 
            id="dGroupActions" 
            href="#"
          >
            <i class="fa fa-chevron-circle-down"></i>
          </a>

          <ul class="dropdown-menu" role="menu" aria-labelledby="dGroupActions">

            <li>
              <a href="#" ng-click="add_entity(group.name)">
                <i class="fa fa-fw fa-plus"></i> Add new
              </a>
            </li>

            <li class="dropdown-submenu">

              <a tabindex="-1" href="#">
                <i class="fa fa-fw fa-exclamation"></i> Checks...
              </a>

              <ul class="dropdown-menu">
                <li ng-repeat="ct in $root.check_types">
                  <a href="#" ng-click="$root.roll_check({type: ct, entities: group.members})">{{ ct.toTitleCase() }}</a>
                </li>
              </ul>

            </li>

          </ul>
        </div>
      </h4>
        

      <div class="entities" ng-model="group.members" ui-sortable="sortableOptions">
        <entity 
          ng-repeat="entity in group.members" 
          entity="entity"
          ng-class="{ slideInDown: entity.adding, slideOutUp: entity.removing, active: entity.uuid == attacker.uuid }" 
        ></entity>
      </div>

    </div>

    <div class="column" style="width: {{ 100 / (entities.length + 1) }}%" >
      <div id="results">

        <div ng-repeat="result in results" class="animated fadeIn" ng-switch on="result.type">

          <div ng-switch-when="attack">
            <div ng-switch on="result.hit">
              <i class="fa fa-times" ng-click="remove_attack(result)"></i> {{ result.attacker.name }} attacked {{ result.defender.name }}, 
              <span ng-switch-when="true">hit and did {{ result.given_damage }} damage</span>
              <span ng-switch-default>but missed</span>
            </div>
          </div>

          <div ng-switch-when="check">
            <i class="fa fa-times" ng-click="results.splice(results.indexOf(result), 1)"></i> {{ result.name }} check
            <ul class="unstyled">
              <li ng-repeat="c in result.checks">{{ c.roll }} - {{ c.name }}</li>
            </ul>
          </div>

        </div>

      </div>

    </div>
  </div>


</body>
</html>
