body { 
  padding: 0 20px 0 20px; 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
}
input { height: auto !important; }
#container { padding: 1.5em; }
#main_content { height: 90%; height: calc(100% - 40px); padding-top: 40px; }
#results {
  margin-top: 10px;
  padding: 1em;
  border: 1px solid #e3e3e3; 
  border-radius: 0.8em;
  overflow: auto;
  min-height: 50px;
  max-height: 90%;
  max-height: calc(100% - 10px)
}
#id_current_check_entities { height: 200px; overflow: auto; }
.column { float: left; min-width: 150px; height: 100%; box-sizing: border-box;}
.entities { height: 80%; height: calc(100% - 40px) }
.table-4-col th { width: 25% }
.dropdown { display: inline-block; }
.dropdown-toggle { color: #333; }
.dropdown-menu { font-size: 14px !important; }
.crosshair { cursor: crosshair; }
.control-group { margin-bottom: 0.8em !important; }
.zero-width { width: 0 !important; overflow: hidden; white-space: nowrap; }
.entity-small {
  padding: 10px 20px 10px 10px;
  margin: 0 1em 1em 0;
  width: 150px;
  border: 2px solid #e3e3e3;
  border-radius: 0.8em;
  box-sizing: border-box;
  position: relative;
  
  background-image: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
  background-repeat: no-repeat;
}
/*
.entity-small:hover {
  border: 1px solid red;
}
*/
.entity-small.active {
  border: 2px solid red;
}
.entity-small .hp-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 0 0 10px;
  background: inherit;
  background-color: #fff;
  border-radius: inherit;
  font-weight: bold;
  text-shadow:
    1px 1px 2px #ddd,
    -1px -1px 2px #ddd;
    1px -1px 2px #ddd,
    -1px 1px 2px #ddd;
}
.entity-small .hp-overlay:hover {
  opacity: 0.8;
}
.entity-small .actions {
  position: absolute;
  top: 0px;
  right: 10px;
  padding-top: 10px;
}
.optgroup {
  color: #888;
}

/*
 * ==============================================
 * growRight
 * ==============================================
 */

.growRight{
    animation-name: growRight;
    -webkit-animation-name: growRight;   

    animation-duration: 1.0s;   
    -webkit-animation-duration: 1.0s;

    animation-timing-function: ease-out;    
    -webkit-animation-timing-function: ease-out;    

    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;        
}

@keyframes growRight {
    0% {
        transform: scaleX(0.1);
    }
    40% {
        transform: scaleX(1.02);
    }
    60% {
        transform: scaleX(0.98);
    }
    80% {
        transform: scaleX(1.01);
    }
    100% {
        transform: scaleX(0.98);
    }               
    80% {
        transform: scaleX(1.01);
    }
    100% {
        transform: scaleX(1);
    }                           
}

@-webkit-keyframes growRight {
    0% {
        -webkit-transform: scaleX(0.3);
    }
    40% {
        -webkit-transform: scaleX(1.02);
    }
    60% {
        -webkit-transform: scaleX(0.98);
    }
    80% {
        -webkit-transform: scaleX(1.01);
    }
    100% {
        -webkit-transform: scaleX(0.98);
    }               
    80% {
        -webkit-transform: scaleX(1.01);
    }
    100% {
        -webkit-transform: scaleX(1);
    }       
}
/* 
 * ==============================================
 * shrinkLeft
 * ==============================================
 */
.shrinkLeft{
    animation-name: shrinkLeft;
    -webkit-animation-name: shrinkLeft;   

    animation-duration: 1.0s;   
    -webkit-animation-duration: 1.0s;

    animation-timing-function: ease-out;    
    -webkit-animation-timing-function: ease-out;    

    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;        
}

@keyframes shrinkLeft {
    0% {
        transform: scaleX(0.9);
    }
    40% {
        transform: scaleX(0.1);
    }
    60% {
        transform: scaleX(0.12);
    }
    80% {
        transform: scaleX(0.1);
    }
    100% {
        transform: scaleX(0);
    }               
}

@-webkit-keyframes shrinkLeft {
    0% {
        transform: scaleX(0.9);
    }
    40% {
        transform: scaleX(0.1);
    }
    60% {
        transform: scaleX(0.12);
    }
    80% {
        transform: scaleX(0.1);
    }
    100% {
        transform: scaleX(0);
    }               
}
.red { background-color: red; }
.yellow { 
  background-image: -moz-linear-gradient(top,  #ffff88 0%, #ffff89 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff88), color-stop(100%,#ffff89));
  background-image: -webkit-linear-gradient(top,  #ffff88 0%,#ffff89 100%);
  background-image: -o-linear-gradient(top,  #ffff88 0%,#ffff89 100%);
  background-image: -ms-linear-gradient(top,  #ffff88 0%,#ffff89 100%);
  background-image: linear-gradient(to bottom,  #ffff88 0%,#ffff89 100%);
}
